[defaults]
inventory = inventory.ini
host_key_checking = False
retry_files_enabled = False
vault_password_file = .vault_pass
valut_editor = nano
roles_path = roles
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
